@page "/aboutme"

<p>
    Ich bin ein leidenschaftlicher Softwareentwickler mit besonderem Fokus auf C# in Kombination mit Angular und Blazor. Seit ca. 10 Jahren bringe ich technisches Know-how und kreative Problemlösungen zusammen, um leistungsstarke und benutzerfreundliche Anwendungen zu entwickeln.
</p><p>
    Mein Ziel ist es, komplexe Anforderungen in effiziente und skalierbare Lösungen zu übersetzen. Dabei lege ich großen Wert auf sauberen Code, moderne Softwarearchitekturen und eine enge Zusammenarbeit mit meinen Kunden, um Projekte erfolgreich umzusetzen. Doch meine Expertise endet nicht hier – ich bin stets offen für neue Herausforderungen und Technologien, die es ermöglichen, den bestmöglichen Mehrwert zu schaffen.
</p><p>
    Wenn ich nicht gerade codiere, beschäftige ich mich gerne mit [deine Hobbys oder Interessen], die mir helfen, neue Perspektiven und Ideen zu entwickeln.
</p><p>
    Lassen Sie uns gemeinsam innovative Softwarelösungen schaffen!
</p>
@code {

}
