@page "/impressum"

<h3>Impressum:</h3>
<p>Dietmar Franzen</p>
<p>
    Hohen-Stein-Straße 35<br />
    4111 Walding
</p>
<p>
    Dienstleistungen in der automatischen Datenverarbeitung und Informationstechnik
</p>
<p>
    Tel: +43 699 17090125<br />
    office@individualsoftware-franzen.at
</p>
<p>UID-Nr.: noch nicht vorhanden</p>
<p>Mitglied bei der WKÖ</p>
<p>Berufsrecht:<br />
    <a href="https://www.ris.bka.gv.at/">www.ris.bka.gv.at</a>
</p>
<p>Bezirkshauptmannschaft Urfahr und Umgebung</p>
<p>
    Verbraucher haben die Möglichkeit, Beschwerden an die OnlineStreitbeilegungsplattform der EU zu richten:
    http://ec.europa.eu/odr.
    Sie können allfällige Beschwerde auch an die
    oben angegebene E-Mail-Adresse richten.
</p>
@code {

}
