@page "/"

<PageTitle>Home</PageTitle>

<p>
    Ich bin spezialisiert auf die Entwicklung moderner und leistungsstarker Softwarelösungen mit C# in Verbindung mit Angular oder Blazor. Mein Fokus liegt auf der Erstellung effizienter, skalierbarer und benutzerfreundlicher Anwendungen, die sowohl im Frontend als auch im Backend höchsten Ansprüchen genügen.
</p><p>
    Neben meiner Expertise in diesen Technologien bin ich immer bereit, mich neuen Herausforderungen zu stellen und auch andere Projekte und Problemstellungen in Angriff zu nehmen. Egal, ob es um bestehende Systeme oder innovative Neuentwicklungen geht – ich bringe Leidenschaft und Know-how mit, um Ihre Vision zu verwirklichen.
</p><p>
    Lassen Sie uns gemeinsam Ihre Projekte voranbringen!
</p>