<nav class="navbar bg-dark border-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Franzen</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item text-center p-0 m-auto">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                <li class="nav-item text-center p-0 m-auto">
                    <a class="nav-link" href="/projects">Projekte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    
}

